div, h1, h3, p {
    font-family: 'Catamaran', sans-serif;
    margin: auto;
}

.book-result {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid black;
    text-align: center;
}

ul {
    list-style: none;
}